# Created by .ignore support plugin (hsz.mobi)
.DS_Store
.idea/.gitignore
.idea/dictionaries/
.idea/inspectionProfiles/
.idea/misc.xml
.idea/modules.xml
.idea/star-wars.iml
.idea/vcs.xml
node_modules/

server/public